{% extends "base_template.html" %}
{% block body %}

<div class="container-fluid h-100   ">
<div class="row   h-100">
    <div class="col align-middle">
    <div class="main text-center shadow-sm ">
        <div class="mt-5 ">
            <h5 style="font-family: 'Major Mono Display', monospace;">Welcome to</h5>
            <h3 style="font-family: 'Cutive Mono', monospace; "><b>Test Medical System</b></h3>
            <p>Login to get all your medical info</p>
        </div>

        <div class="login-form">
            <form method="post">
                {{ form.csrf_token }}
                <div class="form-group">
                    <label>{{ form.username.label }}</label>
                    {{ form.username(class_="form-control") }}
                </div>
                <div class="form-group">
                    <label>{{ form.password.label }}</label>
                    {{ form.password(class_="form-control") }}
                </div>
                <button type="submit" class="btn btn-black">Login</button>
                    <a href="/register" class="btn btn-secondary">Register</a>

            </form>
        </div>
    </div>
        </div>
    <div class="col-lg d-none d-lg-block bg-dark text-center">
    </div>

    </div>
</div>
{% endblock body %}